:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffb3;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --control-color: light-dark(#242424, #ffffff);
  --control-bg-color: light-dark(#ffffffb3, #242424b3);
  --control-width: 300px;
  --control-height: 20px;
  --control-padding: 10px;
  --control-top: 20px;
  --control-right: 20px;
  --control-radius: 10px;

  --track-height: 6px;
  --track-bg-color: #efefef;
  --track-fill-color: #4c4a48;
  --track-radius: 4px;

  --thumb-size: 14px;
  --thumb-bg-color: #4c4a48;
  --thumb-hover-color: #7d7a77;
  --thumb-radius: 10px;
}

html,
body {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}